* {
    margin: 0;
    padding: 0;
}
#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    font-family: sans-serif;
    font-size: 1em;
    color:  #006400;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #8B4513;
    border-radius: 5px;
}
