#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    font-size: 1em;
    color:  #006400;
}

form{
    display: inline-block;
    position: relative;
}

input, select, textarea, button {
    font-size: 1em;
    color: #8B4513;
    border-radius: 5px;
}
